
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>404 </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">



	</head>
	<body>
		<div class="container fh5co-container">

			<div class="row">
				<div class="col-md-12 animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-404-wrap" id="video" data-vide-bg="video/404" data-vide-options="position: 0 50%">
						<div class="overlay503"></div>
					</div>
				</div>
				<div class="col-md-12 text-center fh5co-404-text animate-box"  data-animate-effect="fadeIn">
					<h2>Parece que te perdiste</h2>
					<p><a href="http://freehtml5.co/" class="btn btn-primary">Regresa al inicio</a></p>
				</div>
				<div class="col-md-12 text-center fh5co-copyright animate-box" data-animate-effect="fadeInUp">
					<p><small>&copy; Derechos Reservados al  Diseñador por Vroa74</p>ani
				</div>
			</div>
		</div>



	</body>
</html>

